body {
    text-align: center;
    background-color: #283149;
}

h1 {
    font-size: 5rem;
    color: #DBEDF3;
    font-family: "Arvo", cursive;
    text-shadow: 3px 0 #DA0463;
    margin-bottom: 0;
}

footer {
    color: aliceblue;
}

.set {
    /* display: inline-block; */
    text-align: center;
    margin: auto;
    padding: 10rem;
}

.drum {
    display: inline-block;
    width: 6rem;
    height: 6rem;
    background-color: aliceblue;
    border: solid 5px;
    border-color: plum;
    color: rgb(139, 118, 255);
    font-size: 2rem;
    font-weight: normal;
    margin: 10px;
    margin-top: 0;
}

.drum:hover {
    font-weight: bolder;
}

.drum:active {
    border-color: rgb(155, 12, 155);
    /* color: plum; */
    box-shadow: 0 3px 4px 0 aliceblue;
    /* opacity: 0.5; */
}

.w {
    background-image: url("../images/tom1.png");
    background-size: 120%;
}

.a {
    background-image: url("../images/tom2.png");
    background-size: 120%;
}

.s {
    background-image: url("../images/tom3.png");
    background-size: 100%;
}

.d {
    background-image: url("../images/tom4.png");
    background-size: 100%;
}

.j {
    background-image: url("../images/snare.png");
    background-size: 100%;
}

.k {
    background-image: url("../images/kick.png");
    background-size: 100%;
}

.l {
    background-image: url("../images/crash.png");
    background-size: 100%;
}